*{
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.medsos{
    padding: 5px 0;
    background-color: #e903afed;
}

.medsos ul li{
    display: inline-block;
    color: #ffffff;
    margin-right: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    height: 70px;
}

header h1{
    float: left;
    padding: 15px 0;
    color: #c564ad;
}

header ul{
    float: right;
}

header ul li{
    display: inline-block;
}

header ul li a{
    padding: 25px 20px;
    display: inline-block;
}

header ul li a:hover{
    background-color:#c564ad;
    color: #ffffff;
}

.active{
    background-color:#c564ad;
    color: #ffffff;
}

section{
    padding: 100px 0;
    text-align: center;
    color: #161516;
    background-color: rgb(152, 208, 226);
}

img{
    width: 500px;
    height: 300px;
}

p{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

h1{
    padding: 20px;
    font-size: 30px;
    font: optional;
    font-weight: lighter;
    text-align: justify;
}

footer{
    padding: 20px 0;
    background-color: #6489c5;
}